<div class="container">
  <div class="jumbotron">
    <h2>
      person-table works!
    </h2>
    <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" (keyup)="search($event)">
    </form>
    <div class='table-responsive' *ngIf='persons && persons._embedded.persons.length'>
      <table class='table table-striped table-bordered table-hover'>
        <thead class="thead-inverse">
        <tr>
          <th>Name</th>
          <th>Country</th>
          <th>Street Name</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor='let person of persons._embedded.persons'>
          <td>{{ person.name }}</td>
          <td>{{ person._embedded.address.country }}</td>
          <td>{{ person._embedded.address.streetName }}</td>
        </tr>
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          <li class="page-item" [class.disabled]="firstPage">
            <a class="page-link" (click)="paginationButtonClick(persons._links.first)">First</a>
          </li>
          <li class="page-item" [class.disabled]="firstPage">
            <a class="page-link" (click)="paginationButtonClick(persons._links.prev)">Previous</a>
          </li>
          <li class="page-item">
            <a class="page-link" >{{(persons.page.number)}}</a>
          </li>
          <li class="page-item" [class.disabled]="lastPage">
            <a class="page-link" (click)="paginationButtonClick(persons._links.next)">Next</a>
          </li>
          <li class="page-item" [class.disabled]="lastPage">
            <a class="page-link" (click)="paginationButtonClick(persons._links.last)">Last</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
